@charset "utf-8";

body {
    --P1 : #00ac47;

    --D1 : #f5f5f5;
    --D2 : #fff;

    --M1 : #fff;
    --M2 : #e6e6e6;
    --M3 : #ddd;
    --M4 : #bbb;
    --M5 : #999;
    --M6 : #767676;
    --M7 : #333;
    --M8 : #222;
    --M9 : #111;
}

.dark-mode {
    --P1 : #00ac47;

    --D1 : #222;
    --D2 : #333;

    --M1 : #111;
    --M2 : #222;
    --M3 : #333;
    --M4 : #555;
    --M5 : #767676;
    --M6 : #999;
    --M7 : #bbb;
    --M8 : #e6e6e6;
    --M9 : #fff;
}

* {box-sizing:border-box; margin:0; padding:0; border:none; outline:none; -webkit-tap-highlight-color:transparent;}

html {font-size:62.5%; -webkit-overflow-scrolling:auto;}
body {background-color:var(--D1); color:var(--M9); font-size:1.5rem; line-height:1.5; font-family:var(--word); letter-spacing:-0.025em; overflow-wrap:break-word; -webkit-text-size-adjust:none;}

ul, ol, dl {list-style:none;}
button {border:none;}
a {color:inherit; text-decoration:none;}

.gh {display:flex; position:fixed; top:0; left:0; z-index:100; width:100%; height:5rem; border-bottom:1px solid var(--M2); background-color:var(--D2);}
.gh__title {display:flex; padding:1rem 2.4rem; align-items:center;}
.gh__nav {display:none; align-items:center; padding:1rem 2.4rem; border-left:1px solid var(--M2);}
.gh__nav a {color:var(--M6); font-size:1.5rem;}
.gh__nav a + a {margin-left:1.2rem;}
.gh__nav a.-active {color:var(--M9); font-weight:bold; text-decoration:underline; text-underline-offset:.4rem;}
.gh__utils {display:flex; align-items:center; margin-left:auto;}
.gh__util {display:block; position:relative; width:5rem; height:100%; border-left:1px solid var(--M2); background-color:transparent; cursor:pointer;}
.gh__util:hover {background-color:var(--M1);}
.gh__util span {visibility:hidden; opacity:0; position:absolute; top:calc(100% + 1rem); left:50%; padding:.2rem .5rem; border:1px solid var(--M2); border-radius:.4rem; background-color:var(--M1); box-shadow:0 .2rem 1rem 0 rgba(0,0,0,.15); color:var(--M9); font-weight:bold; font-size:1.3rem; white-space:nowrap; transform:translateX(-50%); transition:visiblity .2s, opacity .2s;}
.gh__util:hover span {visibility:visible; opacity:1;}
.gh__util:last-child span {left:auto; right:.5rem; transform:none;}

.gh__util.-heading {position:relative;}
.gh__util.-heading:before {content:"<H>"; position:absolute; top:50%; left:50%; color:var(--M4); font-weight:bold; font-size:1.6rem; line-height:1; font-family:Consolas; transform:translate(-50%, -50%);}
.gh__util.-heading:hover:before {color:var(--M9);}
.gh__util.-heading.-active:before {color:var(--point);}

.gh__util.-point:before {content:"1"; display:flex; justify-content:center; align-items:center; position:absolute; top:50%; left:50%; width:1.9rem; height:1.9rem; border:.2rem solid var(--P1); border-radius:50%; color:var(--P1); font:900 1.2rem/1 Arial; transform:translate(-50%, -50%);}
.gh__util.-point:hover:before {border-color:var(--P1); color:var(--P1);}
.gh__util.-point.-active:before,
[id*="colour"] .gh__util.-point:before {border-color:var(--point); color:var(--point);}
#colour2 .gh__util.-point:before {content:"2";}
#colour3 .gh__util.-point:before {content:"3";}
#colour4 .gh__util.-point:before {content:"4";}
#colour5 .gh__util.-point:before {content:"5";}
#colour6 .gh__util.-point:before {content:"6";}
#colour7 .gh__util.-point:before {content:"7";}
#colour8 .gh__util.-point:before {content:"8";}

.gh__util.-dark:before {content:""; position:absolute; top:1.7rem; left:1.7rem; width:1.5rem; height:1.5rem; border:.2rem solid var(--M4); border-radius:50%;}
.gh__util.-dark:hover:before {border-color:lightcoral; background-color:lightcoral;}
.gh__util.-dark.-active:before {z-index:1; width:1.3rem; height:1.3rem; border:none; background-color:var(--M3); transform:translate(.6rem, -0.2rem);}
.gh__util.-dark.-active:hover:before {background-color:var(--M2); transition:transform .4s;}
.gh__util.-dark:after {content:""; position:absolute; top:1.2rem; left:1.2rem; width:2.5rem; height:2.5rem; border:.2rem dotted var(--M4); border-radius:50%; transform-origin:50%; transition:all .2s;}
.gh__util.-dark:hover:after {border-color:lightcoral}
.gh__util.-dark:hover:not(.-active):after {animation:flare 6s linear infinite;}
.gh__util.-dark.-active:after {top:1.4rem; left:1.4rem; width:2.1rem; height:2.1rem; border:none; background-color:lightyellow;}

@keyframes flare {
    0%   {transform:rotate(0deg) scale(1);}
    25%  {transform:rotate(90deg) scale(1.2);}
    50%  {transform:rotate(180deg) scale(1);}
    75%  {transform:rotate(270deg) scale(1.2);}
    100% {transform:rotate(360deg) scale(1);}
}

.gn {display:none; overflow-x:hidden; overflow-y:auto; position:fixed; top:5rem; left:0; z-index:2; width:17.3rem; height:calc(100vh - 5rem); padding:1.2rem; background-color:var(--D1); transform:translateX(-93%); transition:transform .4s;}
.gn::-webkit-scrollbar {width:.8rem;}
.gn::-webkit-scrollbar-thumb {background-color:var(--M2);}
.gn.-active {overflow-x:hidden; overflow-y:auto; transform:translateX(0);}
.gn:not(.-active):hover {background-color:var(--M3); transition:all .2s;}

.gn button {position:relative; width:100%; padding:.6rem 1.2rem; padding-right:2.8rem; border-bottom:1px solid var(--M3); background-color:transparent; color:var(--M9); font-weight:bold; font-size:1.2rem; letter-spacing:0.05em; text-align:left;}
.gn button:after {content:""; position:absolute; top:.8rem; right:1rem; width:.8rem; height:.8rem; border-right:1px solid var(--M9); border-bottom:1px solid var(--M9); transform:rotate(45deg);}
.gn__group.-active button:after {top:1.2rem; transform:rotate(225deg);}
.gn ul {display:none; flex-wrap:wrap; padding:.6rem 0 0.4rem;}
.gn__group.-active ul {display:flex;}
.gn li {width:100%; padding:.2rem;}
.gn a {display:flex; align-items:center; position:relative; height:100%; padding:.3rem 1rem; border-radius:.6rem; color:var(--M6); font-size:1.3rem;}
.gn a:hover,
.gn a.-active {background-color:var(--M1); box-shadow:0 0 3rem 0 rgba(0,0,0,.15); color:var(--M9); font-weight:bold; transition:box-shadow .2s;}
.gn a:active {box-shadow:0 0 .3rem 0 rgba(0,0,0,.2);}
.gn a:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid transparent; border-radius:.6rem; transition:border-color .2s;}

.gc {margin:5rem 0 0; padding:2.4rem 1.8rem 40rem;}
.gc__heading {display:flex; width:100%; margin-bottom:1rem; padding-top:2rem; color:var(--M9); font-weight:bold; font-size:1.8rem; letter-spacing:-0.05em;}
.gc__heading:first-child {padding-top:0;}
/* .-hidden-heading .gc__heading {overflow:hidden; width:0; height:0; padding-top:0;} */

.gn ~ .gc {margin-left:0;}

.gt__section {display:flex; flex-wrap:wrap;}
.gt__section + .gt__section {margin-top:4rem;}
.gt__group {width:25rem;}
.gt__group + .gt__group {margin-left:.4rem;}
.gt__heading {display:flex; width:100%; margin-bottom:1rem; padding-top:2rem; color:var(--M9); font-weight:bold; font-size:1.8rem; letter-spacing:-0.05em;}
.gt__heading:first-child {padding-top:0;}
.gt__title {margin-bottom:1.2rem; color:var(--M9); font-weight:bold; font-size:1.4rem;}
.gt li {display:flex;}
.gt li + li {margin-top:.4rem;}
.gt span {display:flex; justify-content:center; align-items:center; width:3.3rem;}
.gt span[data-depth="1"] {background-color:var(--M3);}
.gt span[data-depth="2"] {background-color:var(--M4);}
.gt span[data-depth="3"] {background-color:var(--M5);}
.gt span:before {content:attr(data-depth);}
.gt a {display:block; flex:1; position:relative; padding:.6rem 3.6rem .6rem 1rem; background-color:var(--D2); color:var(--M9); font-size:1.4rem;}
.gt a:after {content:""; position:absolute; top:50%; right:1.5rem; width:.8rem; height:.8rem; border-top:1px solid var(--M6); border-right:1px solid var(--M6); transform:rotate(45deg) translateY(-50%);}
.gt a:hover:after {border-color:var(--M9);}

.gl {display:flex; flex-wrap:wrap; margin-top:4rem;}
.gl:first-child {margin-top:0;}
.gl__item {display:flex; flex-direction:column; position:relative; width:17.1rem; margin:0 -1px -1px 0;}
.gl__item:after {content:attr(data-title); display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; min-width:0; padding:.6rem 2.8rem; border:1px solid var(--M2); border-top:none; background-color:var(--D2); color:#999; font-size:1.4rem; text-align:center; transition:color .2s;}
.gl__item:hover:after,
.gl__item.-active:after {color:var(--M9); font-weight:bold;}
.gl__item.-x2 {width:34.1rem;}
.gl__preview {display:flex; flex-direction:column; justify-content:center; align-items:center; flex:1; position:relative; min-height:17.1rem; padding:2rem; border:1px solid var(--M2); background:var(--D2); cursor:pointer;}
.gl__preview:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%; z-index:2; border:1px solid transparent; transition:box-shadow .2s;}
.gl__item.-active .gl__preview:before {box-shadow:0 0 3rem 0 rgba(0,0,0,.15);}
.gl__preview:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1; border:1px solid transparent; transition:border-color 1s;}
.gl__preview:active:after {border-color:var(--point); transition:none;}
.gl__item.test-mode .gl__preview:before,
.gl__item.test-mode .gl__preview:after {display:none;}

.gl__detail {position:absolute; right:0; bottom:0; z-index:2; width:calc(100% - 3.4rem); height:3.4rem; background-color:transparent;}
.gl__detail:before {content:""; position:absolute; top:50%; right:1.5rem; z-index:2; width:.8rem; height:.8rem; border-top:1px solid var(--M4); border-right:1px solid var(--M4); background-color:transparent; transform:rotate(45deg) translateY(-50%);}
.gl__item:hover .gl__detail:hover:before {border-color:var(--M9);}
.gl__item.-active .gl__detail:before,
.gl__item.-active .gl__detail:hover:before {border-color:var(--P1);}
.gl__detail span {visibility:hidden; opacity:0; position:absolute; bottom:90%; right:-0.5rem; padding:.2rem .5rem; border:1px solid var(--M2); border-radius:.4rem; background-color:var(--M1); box-shadow:0 .2rem 1rem 0 rgba(0,0,0,.15); color:var(--M9); font-weight:bold; font-size:1.3rem; white-space:nowrap; transition:visiblity .2s, opacity .2s;}
.gl__detail:hover span {visibility:visible; opacity:1;}

.gl__test {position:absolute; bottom:0; left:0; z-index:2; width:3.4rem; height:3.4rem; background-color:transparent;}
.gl__test:before {content:""; position:absolute; top:50%; left:50%; z-index:2; width:.6rem; height:.6rem; border-radius:50%; background-color:transparent; transform:translate(-50%, -50%);}
.gl__item:hover .gl__test:before {background-color:var(--M4);}
.gl__item:hover .gl__test:hover:before {background-color:var(--M9);}
.gl__item.test-mode .gl__test:hover:before,
.gl__item.test-mode .gl__test:before {background-color:var(--red);}
.gl__test span {visibility:hidden; opacity:0; position:absolute; bottom:90%; left:50%; padding:.2rem .5rem; border:1px solid var(--M2); border-radius:.4rem; background-color:var(--M1); box-shadow:0 .2rem 1rem 0 rgba(0,0,0,.15); color:var(--M9); font-weight:bold; font-size:1.3rem; white-space:nowrap; transform:translateX(-50%); transition:visiblity .2s, opacity .2s;}
.gl__test:hover span {visibility:visible; opacity:1;}

.gi {overflow:hidden; margin-top:4rem;}
.gi:first-child {margin-top:0;}
.gi ul {display:flex; flex-wrap:wrap; gap:0;}
.gi li {margin:0 -1px -1px 0;}
.gi button {display:flex; align-items:center; width:27rem; padding:.8rem 1rem; border:1px solid var(--M2); background-color:var(--D2); text-align:left; transition:border-color 1s;}
.gi button:active {border-color:var(--point); transition:none;}
.gi button:before {margin-right:1.5rem;}
.gi__code {margin-right:1.5rem; color:var(--M9); font-weight:bold; font-size:1.4rem; font-family:Consolas;}
.gi__name {color:var(--M6); font-size:1.3rem; line-height:1.2;}
.gi__word {margin-left:.4rem; color:var(--M9); font-size:1.3rem;}

.gd {display:flex; flex-wrap:wrap; align-items:flex-start; overflow:hidden; position:fixed; bottom:0; left:21rem; z-index:400; width:calc(100% - 23rem); border-top:1px solid var(--M3); border-left:1px solid var(--M3); border-radius:1.2rem 1.2rem 0 0; background-color:var(--D2); box-shadow:0 -1rem 3rem 0 rgba(0,0,0,.15);}
.dark-mode .gd {box-shadow:0 -1rem 3rem 0 rgba(0,0,0,.3);}
.gd__title {width:100%; padding:1.2rem 2.4rem 1.3rem; border-bottom:1px solid var(--M2); font-weight:bold; font-size:1.6rem;}
.gd__sub-title {margin:2rem 0 .8rem; font-weight:bold; font-size:1.6rem;}
.gd__sub-title:first-child {margin-top:0;}
.gd__dev {overflow:auto; width:50%; height:30rem; padding:2.4rem;}
.gd__dev::-webkit-scrollbar {width:.8rem; height:.8rem;}
.gd__dev::-webkit-scrollbar-thumb {background-color:var(--M2);}
.gd__code {font-weight:bold; font-size:1.4rem; font-family:Consolas;}
.gd__info {overflow-x:hidden; overflow-y:auto; width:50%; height:30rem; padding:2.4rem; border-left:1px solid var(--M2);}
.gd__info::-webkit-scrollbar {width:.8rem;}
.gd__info::-webkit-scrollbar-thumb {background-color:var(--M2);}
.gd__note {display:flex; font-size:1.4rem;}
.gd__note + .gd__note {margin-top:.2rem;}
.gd__note:before {content:attr(data-date)" : "; flex:0 0 auto; margin-right:.4rem; padding-top:.1rem; color:var(--point); font-weight:bold; font-size:1.3rem;}
.gd__close {position:absolute; top:0; right:0; width:5rem; height:5rem; border-left:1px solid transparent; background-color:transparent; cursor:pointer;}
.gd__close:hover {border-left:1px solid var(--M2); background-color:var(--M3);}
.gd__close:before {content:""; position:absolute; top:2.2rem; left:1.3rem; width:2.1rem; height:1px; background-color:var(--M9); transform:rotate(45deg);}
.gd__close:after {content:""; position:absolute; top:2.2rem; left:1.3rem; width:2.1rem; height:1px; background-color:var(--M9); transform:rotate(-45deg);}

@media (min-width:768px) {
    .gh__nav {display:flex;}
    .gn {display:block; overflow:hidden; width:17.3rem; padding:1.2rem;}
    .gn ul {padding-bottom:0.4rem;}
    .gn li {width:100%;}
    .gn a {font-size:1.3rem;}
    .gn ~ .gc {margin-left:0; transition:margin .2s;}
    .gn.-active ~ .gc {margin-left:17.3rem;}
    .gd {left:1.8rem; width:calc(100% - 3.6rem);}
    .gi button {width:25rem;}
}

@media (min-width:1200px) {
    .gn {overflow-x:hidden; overflow-y:scroll; width:30rem; transform:translate(0);}
    .gn li {width:50%;}
    .gn ~ .gc {margin-left:30rem;}
    .gn.-active ~ .gc {margin-left:30rem;}
    .gl__item {margin:0 1rem 1rem 0;}
    .gl__item.-x2 {width:35.2rem;}
    .gd {left:31rem; width:calc(100% - 34.4rem);}
    .gi ul {gap:1rem;}
    .gi li {margin:0;}
    .gi button {width:27rem;}
    .gn:not(.-active):hover {background:none;}
}

/* --- */

.gl__preview > :not(.round-button, .button.-inline, .button.-fit, .label:last-child, .checkbox, .radio, .switch, .tooltip, .i, .badge, .badges, .func, .h1, .h2, .h3, .h4, .h5, .h6, .p, .description, .caption, .ol, .ul, .a, .increase, .decrease, .error-code, .tel-info, .footnote, .button-copy),
.gl__preview > .text + .checkbox.-sm {width:100%;}
.gl__preview > .ref {width:auto !important;}
.gl__preview .highlight {z-index:1;}
.gl__preview .footnote {margin-top:0;}
.gl__preview .tabs .outer {position:relative;}

.gl__preview .tooltip .panel {width:28rem !important;}
.gl__preview .h3-group {margin-top:0 !important;}
.gl__preview .h4-group {margin-top:0 !important;}
.gl__preview .h5-group {margin-top:0 !important;}
.gl__preview .h6-group {margin-top:0 !important;}

.fixer .gl__preview .buttons:not(.-half) {display:flex; flex-wrap:nowrap;}
.fixer .gl__preview .buttons:not(.-half) > .button:nth-child(1) {flex-basis:calc(34% - 0.8rem);}
.fixer .gl__preview .buttons:not(.-half) > .button:nth-child(2) {flex-basis:calc(66% - 0.8rem);}
.fixer.gl__item {z-index:unset;}

.gl__preview hr.gap {position:relative; width:95%; outline:1rem solid rgba(255,0,0,0.2);}
.gl__preview hr.gap.-lg {width:90%; outline:1.5rem solid rgba(255,0,0,0.2);}
.gl__preview hr.gap.-xl {width:85%; outline:2rem solid rgba(255,0,0,0.2);}
.gl__preview hr.gap.-xxl {width:75%; outline:2.5rem solid rgba(255,0,0,0.2);}
.gl__preview hr.gap.-xxxl {width:65%; outline:3rem solid rgba(255,0,0,0.2);}
