@charset "utf-8";

/* RESET
   ===== */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

ul,
ol,
dl {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
.img {
    width:100%;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
input,
textarea {
    user-select: auto;
   -webkit-user-select: auto;
}

/* FONT-FACE
   ========= */

@font-face {
    font-weight: normal;
    font-family: "Noto Sans KR";
    src:url(../fonts/NotoSansKR-Regular.otf)   format("opentype"),
        url(../fonts/NotoSansKR-Regular.woff)  format("woff"),
        url(../fonts/NotoSansKR-Regular.woff2) format("woff2"),
        url(../fonts/NotoSansKR-Regular.ttf)   format("truetype");
}

@font-face {
    font-weight: bold;
    font-family: "Noto Sans KR";
    src:url(../fonts/NotoSansKR-Medium.otf)    format("opentype"),
        url(../fonts/NotoSansKR-Medium.woff)   format("woff"),
        url(../fonts/NotoSansKR-Medium.woff2)  format("woff2"),
        url(../fonts/NotoSansKR-Medium.ttf)    format("truetype");
}

@font-face {
    font-weight: normal;
    font-family: "Roboto";
    src:url(../fonts/Roboto-Regular.woff2)     format("woff2");
}

@font-face {
    font-weight: bold;
    font-family: "Roboto";
    src:url(../fonts/Roboto-Medium.woff2)      format("woff2");
}

html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: auto;
}

@media (max-width: 320px) { html { font-size: 56.5%; } }
@media (max-width: 280px) { html { font-size: 50%; } }

body {
    color: var(--color-root);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--word);
    letter-spacing: -0.025em;
    overflow-wrap: break-word;
    -webkit-text-size-adjust: none;
}

body.big-font { font-size:1.6rem; }

button,
input,
textarea {
    color:var(--font1);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--word);
    letter-spacing: -0.025em;
    -webkit-appearance:none;
}


/* VARIABLES
   ========= */

/*
    COLOR PALETTE

    --G : Gray       --B : Background  --FR : Function Red
    --F : Font       --P : Point       --FB : Function Blue
    --E : Etc
*/

@media (prefers-color-scheme: dark) {
body {
    --G01:#111111; --F01:#121212; --FR1:#400000; --E01:#331f00; --B01:#5fa376; --B11:#f2faf5; --B21:#d3f2dd; --B31:#173321;
    --G02:#333333; --F02:#343434; --FR2:#800000; --E02:#664400; --B02:#c27e9f; --B12:#faf5f7; --B22:#f2d3e2; --B32:#3d1629;
    --G03:#555555; --F03:#666666; --FR3:#ec0c0c; --E03:#997300; --B03:#9871c7; --B13:#f6f2fa; --B23:#e1d3f2; --B33:#34204d;
    --G04:#999999; --F04:#909090; --FR4:#ff6666; --E04:#d9ae02; --B04:#416c94; --B14:#edf4fa; --B24:#d3e4f2; --B34:#1b344d;
    --G05:#b3b3b3; --F05:#a6a6a6; --FR5:#ffb2b2; --E05:#ffd103; --B05:#5c9cb8; --B15:#edf6fa; --B25:#d3e9f2; --B35:#164559;
    --G06:#d3d3d3; --F06:#bfbfbf; --FB1:#002259; --E06:#ffe600; --B06:#52a39c; --B16:#e8faf8; --B26:#d3f2f0; --B36:#13403c;
    --G07:#e6e6e6; --F07:#d9d9d9; --FB2:#003b99; --E07:#ffec40; --B07:#c26391; --B17:#faf0f5; --B27:#f7d7e7; --B37:#4d1b33;
    --G08:#f0f0f0; --F08:#e6e6e6; --FB3:#2c6dd4; --E08:#fff27f; --B08:#7d76c2; --B18:#f1f0fa; --B28:#d5d3f2; --B38:#211e4a;
    --G09:#f6f6f6; --F09:#f2f2f2; --FB4:#66a1ff; --E09:#fff9bf; --B09:#7a7a7a; --B19:#f7f7f7; --B29:#f2f2f2; --B39:#333333;
    --G10:#ffffff; --F10:#ffffff; --FB5:#b2d0ff; --E10:#fffce5; --B10:#90959e; --B20:#f0f4fa; --B30:#e1e7f2; --B40:#383b40;

    --P11:#062512; --P21:#38001b; --P31:#200443; --P41:#011b33; --P51:#012d40; --P61:#002925; --P71:#2e0016; --P81:#090536;
    --P12:#093f1f; --P22:#5a0d32; --P32:#3d0e77; --P42:#01284d; --P52:#023e58; --P62:#003a35; --P72:#4e0026; --P82:#130d54;
    --P13:#0d572b; --P23:#92265a; --P33:#4f1696; --P43:#013566; --P53:#095778; --P63:#005952; --P73:#88124b; --P83:#221a73;
    --P14:#12743a; --P24:#af4f7d; --P34:#6b29be; --P44:#014280; --P54:#187aa4; --P64:#088076; --P74:#b2266a; --P84:#302793;
    --P15:#00ac47; --P25:#d870a3; --P35:#8b41e7; --P45:#015aac; --P55:#2b9ac9; --P65:#12a396; --P75:#d4478c; --P85:#4338b8;
    --P16:#34cf74; --P26:#e794bd; --P36:#9f62eb; --P46:#287dca; --P56:#57b6de; --P66:#3dc0b4; --P76:#e269a4; --P86:#6d63d3;
    --P17:#6be99f; --P27:#eeb7d2; --P37:#b78bee; --P47:#6eabe5; --P57:#7dcaea; --P67:#6dd8ce; --P77:#ed8cbc; --P87:#8d85e5;
    --P18:#a6f4c6; --P28:#f7cce1; --P38:#d1b3f6; --P48:#9dcffd; --P58:#a8dcf2; --P68:#99e9e2; --P78:#fab5d7; --P88:#b9b3f6;
    --P19:#cdfbe0; --P29:#f7deea; --P39:#ebdaff; --P49:#cae6ff; --P59:#d1f1ff; --P69:#c6fffa; --P79:#ffd6ea; --P89:#d4d0ff;
    --P20:#e2ffee; --P30:#ffeff7; --P40:#f4ebff; --P50:#e8f4ff; --P60:#e8f8ff; --P70:#dbfffc; --P80:#ffedf6; --P80:#e9e7ff;
	
	--point-light: var(--P16); --point: var(--P15); --point-dark: var(--P14);
	--font1: var(--F01); --font2: var(--F02); --font3: var(--F03); --font4: var(--F04); --font5: var(--F06); --font6: var(--F07); --font-allblack: var(--F01);
	--emphasis: var(--P15);	--red: var(--FR3); --blue: var(--FB3);

	--line1: var(--G07); --line2: var(--G08);

	--bg1: var(--G09); --bg-allwhite: var(--G10);
	--dimmed1: rgba(255,255,255,0); --dimmed2: rgba(0,0,0,.3); --dimmed3: rgba(0,0,0,.7);
	--shadow: 0 .5rem 1rem 0 rgba(0,0,0,.05);
	/* root */
	--color-root: var(--F01); --bg-root: var(--G10); --bg-highlight: var(--P19);
	/* buttons */
	--border-button: var(--G06); --border-button-active: var(--G06);  --border-button-disabled: var(--G07);
	--color-button: var(--F01);  --color-button-active: var(--F04);  --color-button-disabled: var(--F06);
	/* border-primary-button */
	--bg-button-primary: var(--point); --bg-button-primary-active: var(--P16); --bg-button-primary-disabled: var(--G07);
	--border-button-primary: var(--point); --border-button-primary-active: var(--P16); --border-button-primary-disabled: var(--G07);
	--color-button-primary: var(--F10); --color-button-primary-active: var(--F10); --color-button-primary-disabled: var(--F04);
	/* border-secondary-button */
	--bg-button-secondary: var(--P15);
	--border-button-secondary: var(--point); --border-button-secondary-active: var(--P16); --border-button-secondary-disabled : var(--G07);
	--color-button-secondary: var(--point); --color-button-secondary-active: var(--P16); --color-button-secondary-disabled : var(--F06);
	/* border-round-button */
	--border-round-button: var(--G06); --border-round-button-disabled: var(--G07);
	--color-round-button: var(--F01); --color-round-button-disabled: var(--F06);
	 /* checkbox */
	--bg-checkbox: var(--G10); --bg-checkbox-checked: var(--point); --bg-checkbox-disabled: var(--G09); --bg-checkbox-checked-disabled : var(--G07);
	--border-checkbox: var(--G06); --border-checkbox-checked: var(--point); --border-checkbox-disabled: var(--G06);  --border-checkbox-checked-disabled : var(--G07);
	--color-checkbox: var(--F01); --color-checkbox-checked: var(--F01); --color-checkbox-disabled: var(--F04); --color-checkbox-checked-disabled : var(--F04);
	--bg-checkbox-mono: var(--G03);  --border-checkbox-mono: var(--G03);
	 /* radio */
	 --bg-radio: var(--G10); --bg-radio-checked: var(--point); --bg-radio-disabled: var(--G09); --bg-radio-checked-disabled: var(--F10);
	 --border-radio: var(--G06); --border-radio-checked: var(--point); --border-radio-disabled: var(--G06); --border-radio-checked-disabled: var(--G09);
	 --color-radio: var(--F01); --color-radio-checked: var(--F01); --color-radio-disabled: var(--F04); --color-radio-checked-disabled: var(--F04);
	 /* radio group */
	 --bg-box-radio: var(--G09); --bg-box-radio-checked: var(--G10);
	 --border-box-radio: var(--G06); --border-box-radio-checked: var(--G01); 
	 --color-box-radio: var(--F04); --color-box-radio-checked: var(--F01);
	 /* switch */
	 --bg-switch: var(--G05); --bg-switch-checked : var(--point); --bg-switch-disabled: var(--G09); --bg-switch-checked-disabled: var(--G08);
	 --border-switch: var(--G05); --border-switch-checked: var(--point); --border-switch-disabled: var(--G09);
	 --color-switch: var(--F10); --color-switch-disabled: var(--F06); --color-switch-checked-disabled: var(--F10);
	 /* segment tabs */    
	 --bg-subs: var(--G01); --color-subs: var(--F10); 
	 --bg-segments: var(--G09); --bg-segments-active: var(--G10);
	 --border-segments: var(--G06); --border-segments-active: var(--G01); 
	 --color-segments: var(--F04); --color-segments-active: var(--G01); 
	 --value-auth-number: var(--F06);
}
}

@media (prefers-color-scheme: dark) {
body {
    --G01:#ffffff; --F01:#ffffff;
    --G02:#e6e6e6; --F02:#f2f2f2;
    --G03:#d0d0d0; --F03:#d9d9d9;
    --G04:#b0b0b0; --F04:#bfbfbf;
    --G05:#909090; --F05:#a6a6a6;
    --G06:#707070; --F06:#909090;
    --G07:#505050; --F07:#777777;
    --G08:#404040; --F08:#555555;
    --G09:#303030; --F09:#343434;
    --G10:#212121; --F10:#121212;

	--point-light: var(--P16); --point: var(--P15); --point-dark: var(--P14);
	--font1: var(--F01); --font2: var(--F02); --font3: var(--F03); --font4: var(--F04); --font5: var(--F06); --font6: var(--F08); --font-allblack: var(--F10);
	--emphasis: var(--P15); --red: var(--FR4); --blue: var(--FB4);

	--line1: var(--G06); --line2: var(--G08);

	--bg1: var(--G09); --bg-allwhite: var(--G01);
	--dimmed1: rgba(255,255,255,0); --dimmed2: rgba(0,0,0,.8); --dimmed3: rgba(0,0,0,.7);
	--shadow: 0 .5rem 1rem 0 rgba(0,0,0,.05);
	/* root */
	--color-root: var(--F01); --bg-root: var(--G10); --bg-highlight: var(--P14);
	/* buttons */
	--border-button: var(--G06); --border-button-active: var(--G06);	--border-button-disabled: var(--G07);
	--color-button: var(--F01);	--color-button-active: var(--F04);	--color-button-disabled: var(--F06);
	/* border-primary-button */
	--bg-button-primary: var(--point);	--bg-button-primary-active: var(--P16);	--bg-button-primary-disabled: var(--G09);
	--border-button-primary: var(--point); --border-button-primary-active: var(--P16);	--border-button-primary-disabled: var(--G09);
	--color-button-primary: var(--F01);	--color-button-primary-active: var(--F01);	--color-button-primary-disabled: var(--F04);
	/* border-secondary-button */
	--bg-button-secondary: var(--P15);
	--border-button-secondary: var(--point); --border-button-secondary-active: var(--P16); --border-button-secondary-disabled: var(--G07);
	--color-button-secondary: var(--point);	--color-button-secondary-active: var(--P16); --color-button-secondary-disabled: var(--F06);
	/* border-round-button */
	--border-round-button: var(--G06); --border-round-button-disabled: var(--G07);
	--color-round-button: var(--F01);  --color-round-button-disabled: var(--F06);
	/* checkbox */
	--bg-checkbox: var(--G10); --bg-checkbox-checked: var(--point);
	--border-checkbox: var(--G06); --border-checkbox-checked: var(--point);
	--color-checkbox: var(--F01); --color-checkbox-checked: var(--F01);
	--bg-checkbox-mono: var(--G03); --border-checkbox-mono: var(--G03);
	/* radio */
	--bg-radio: var(--G06); --bg-radio-checked: var(--point); --bg-radio-disabled: var(--G08); --bg-radio-checked-disabled: var(--F01);
	--border-radio: var(--G06); --border-radio-checked: var(--point); --border-radio-disabled: var(--G06); --border-radio-checked-disabled: var(--G09);
	--color-radio: var(--F01); --color-radio-checked: var(--F01); --color-radio-disabled: var(--F04); --color-radio-checked-disabled: var(--F01);
	/* radio group */
	--bg-box-radio: var(--G09); --bg-box-radio-checked: transparent;
	--border-box-radio: var(--G06); --border-box-radio-checked: var(--G01);
	--color-box-radio: var(--F04); --color-box-radio-checked: var(--F01);
	/* switch */
	--bg-switch: var(--G05); --bg-switch-checked: var(--point); --bg-switch-disabled: var(--G08); --bg-switch-checked-disabled: var(--G08);
	--border-switch: var(--G05); --border-switch-checked: var(--point); --border-switch-disabled: var(--G07);
	--color-switch: var(--F01); --color-switch-disabled: var(--F04); --color-switch-checked-disabled: var(--G06);
	/* segment tabs */
	--bg-subs: var(--G01); --color-subs: var(--F10); 
	--bg-segments: transparent; --bg-segments-active: var(--G10);
	--border-segments: var(--G06); --border-segments-active: var(--G01); 
	--color-segments: var(--F04); --color-segments-active: var(--G01); 
	--value-auth-number: var(--F06);
}
}

/* COLOR SET */

/* ROOT
   ==== */

body {overflow-x:hidden; overflow-y:scroll; background-color:var(--bg-root);}
body.lock {overflow:hidden; position:fixed; width:100%; height:100vh;}

/* 헤더 버튼 */
.header .func {display:flex; align-items:center; height:2.4rem; background-color:transparent; color:var(--font4); font-size:1.4rem; white-space:nowrap;}
.header .func.-back    {width:1.2rem; background:url(../imgs/ico/common/ico-func-back.png)       no-repeat 0 / cover;}
.header .func.-bigsize {width:  4rem; background:url(../imgs/ico/common/ico-func-bigsize.png)    no-repeat 0 / cover;}
.header .func.-alarm   {width:  2rem; background:url(../imgs/ico/common/ico-func-alarm.png)      no-repeat 0 / cover;}
.header .func.-home    {width:  2rem; background:url(../imgs/ico/common/ico-func-home.png)       no-repeat 50% / 1.8rem 2.4rem;}
.header .func.-menu    {width:  2rem; background:url(../imgs/ico/common/ico-func-menu.png)       no-repeat 0 / cover;}
.header .func.-close   {width:1.8rem; background:url(../imgs/ico/common/ico-func-close.png)      no-repeat 0 / cover;}
.header .func.-setting {width:  2rem; background:url(../imgs/ico/common/ico-func-setting.png)    no-repeat 0 / cover;}
.header .func.-search  {width:2.1rem; background:url(../imgs/ico/common/ico-func-search.png)     no-repeat 0 / cover;}
.header .func.-in      {width:  2rem; background:url(../imgs/ico/common/ico-func-in.png)         no-repeat 0 / cover;}
.header .func.-out     {width:  2rem; background:url(../imgs/ico/common/ico-func-out.png)        no-repeat 0 / cover;}

.header .func.-active {position:relative;}
.header .func.-active:after {content:""; position:absolute; top:0; right:-0.3rem; width:.5rem; height:.5rem; border-radius:50%; background-color:#f00;}

/* 배지 */
.badges {display:flex;}
.badges.-left {justify-content:flex-start;}
.badges.-center {justify-content:center;}
.badges.-right {justify-content:flex-end;}
.badges .badge + .badge {margin-left:.4rem;}

.badge {display:inline-block; padding:.2rem 1rem; border-radius:2rem; background-color:#eff4fc; color:#646873; font-size:1.1rem; line-height:1.6rem;}

.badge.-grade1 {border:1px solid #ec0c0c; background-color:transparent; color:#ec0c0c;}
.badge.-grade2 {border:1px solid #ff7f29; background-color:transparent; color:#ff7f29;}
.badge.-grade3 {border:1px solid #d9ae02; background-color:transparent; color:#d9ae02;}
.badge.-grade4 {border:1px solid #12a396; background-color:transparent; color:#12a396;}
.badge.-grade5 {border:1px solid #015aac; background-color:transparent; color:#015aac;}
.badge.-grade6 {border:1px solid #2b9ac9; background-color:transparent; color:#2b9ac9;}

/* 툴팁 */
.tooltip {display:inline-flex; position:relative; width:1.8rem; margin:0 .4rem; vertical-align:middle;}
.tooltip > .trigger {position:absolute; top:50%; left:0; width:1.8rem; height:1.8rem; background:url(../imgs/ico/common/ico-tooltip.png) no-repeat 0 / 1.8rem; vertical-align:middle; transform:translateY(-58%);}
.tooltip.-active > .trigger {background-image:url(../imgs/ico/common/ico-tooltip-active.png);}
.tooltip > .panel {display:none; position:absolute; top:1.4rem; left:0; padding:1.3rem 4.7rem 1.3rem 2rem; border:1px solid var(--line2); border-radius:.4rem; background-color:var(--bg-root); color:var(--font1); font-style:normal; font-weight:normal; font-size:1.4rem; line-height:1.5; text-decoration:none; text-align:left;}
.tooltip.-active > .panel {display:block; z-index:10;}
.tooltip.-reversed > .panel {top:auto; bottom: 1.7rem;}
.tooltip > .panel > .close {position:absolute; top:.9rem; right:1.2rem; width:2.8rem; height:2.8rem; background:url(../imgs/ico/common/ico-tooltip-close.png) no-repeat 0 0 / cover;}
.tooltip > .panel > .title {display:block; margin-bottom:1.2rem; color:var(--font1); font-weight:bold; font-size:1.7rem;}
.tooltip > .panel > span:not(.title) {display:block; position:relative; margin-top:.0667em; padding-left:0.66667em; word-break:keep-all; overflow-wrap:break-word;}
.tooltip > .panel > span:first-child {margin-top:0;}
.tooltip > .panel > span:not(.title):before {content:""; position:absolute; top:0.66667em; left:0; width:.2em; height:.2em; border-radius:50%; background-color:var(--font2);}

.dark-mode .tooltip > .trigger {background-image:url(../imgs/ico/common/dark-mode/ico-tooltip.png);}
.dark-mode .tooltip.-active > .trigger {background-image:url(../imgs/ico/common/dark-mode/ico-tooltip-active.png);}
.dark-mode .tooltip > .panel > .close {background-image:url(../imgs/ico/common/dark-mode/ico-tooltip-close.png);}

.label + .tooltip {margin-bottom:.2rem;}
